<mat-toolbar class="header">
  <div style="flex-grow: 2;" class="ionixpert-logo" (click)="showDocument()">
    <a routerLink="">ionixpert</a>
  </div>
  <div style="flex-grow: 8;" class="neons">
    <span class="breathe"></span>
    <!-- <h1><em>Harish Ale</em></h1> -->
    <!-- <ng-container *ngIf="false">
      <ng-container *ngFor="let menu of menuRoutes">
        <button mat-button [matMenuTriggerFor]="belowMenu">{{menu.name}}</button>
        <mat-menu #belowMenu="matMenu" yPosition="below">
          <button *ngFor="let submenu of menu.submenu" mat-menu-item
            [routerLink]="submenu.url">{{submenu.name}}</button>
        </mat-menu>
      </ng-container>
    </ng-container> -->
  </div>
  <div style="flex-grow: 2;" class="dp">
    <!-- <h1 class="main-title">Harish Ale</h1> -->
    <span class="shopping-cart" (click)="showCart()">
      <i class="fa fa-graduation-cap" style="font-size:24px" aria-hidden="true"></i>
      <span class='badge badge-warning' id='lblCartCount'> {{cartCount}}</span>
    </span>
    <img src="assets/img/dragon_logo.svg" alt="website logo" (click)="vibrate()">
  </div>
</mat-toolbar>
