.header {
  background: var(--ionix-theme-dark);
  display: flex;
  position: fixed;
  top: 0;
  z-index: 2;
  height: 45px;
  .main-title {
    font-family: "Merienda One";
    font-size: 0.7rem;
    text-align: center;
    color: #fff !important;
    margin-right: 10px;
    // text-shadow: 0 0 10px #00fff2, 0 0 20px #00fff2, 0 0 30px #00fff2,
    //   0 0 40px #00fff2, 0 0 50px #00fff2, 0 0 60px #00fff2, 0 0 70px #00fff2,
    //   0 0 90px #00fff2;
  }
  .menu-container {
    display: flex;
    justify-content: flex-end;
  }
  .dp {
    display: flex;
    justify-content: flex-end;
    img {
      width: 2rem;
      border-radius: 50%;
      filter: brightness(10);
    }
  }
}
.ionixpert-logo {
  a {
    text-decoration: none;
    color: var(--ionix-header-color) !important;
    font-family: "drwho";
    font-size: 2.2rem;
    animation: glow 1s ease-in-out infinite alternate;
  }
}
.shopping-cart {
  margin-right: 10px;
  cursor: pointer;
  .fa-shopping-cart{
    color: #fff;
  }
  .badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
  }
  .label-warning[href],
  .badge-warning[href] {
    background-color: #c67605;
  }
  #lblCartCount {
    font-size: 12px;
    background: var(--ionix-color-red);
    color: #fff;
    padding: 0 5px;
    vertical-align: top;
    margin-left: -10px;
  }
}
@keyframes glow {
  0% {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #e60073, 0 0 20px #e60073,
      0 0 25px #e60073;
  }
  100% {
    text-shadow: 0 0 10px #fff, 0 0 15px #ff4da6, 0 0 20px #ff4da6,
      0 0 25px #ff4da6, 0 0 30px #ff4da6;
  }
}

.neons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.neons h1 {
  font-family: "Merienda One";
  font-size: 1.2rem;
  text-align: center;
  font-weight: bold;
  color: #fff;
  text-shadow: 0 0 10px #00fff2, 0 0 20px #00fff2, 0 0 30px #00fff2,
    0 0 40px #00fff2, 0 0 50px #00fff2, 0 0 60px #00fff2, 0 0 70px #00fff2,
    0 0 90px #00fff2;

  // -webkit-animation: glowname 2s ease-in-out infinite alternate;
  // -moz-animation: glowname 2s ease-in-out infinite alternate;
  // animation: glowname 2s ease-in-out infinite alternate;
}

@keyframes glowname {
  from {
    color: #fff;
    text-shadow: 0 0 10px #00fff2, 0 0 20px #00fff2, 0 0 30px #00fff2,
      0 0 40px #00fff2, 0 0 50px #00fff2, 0 0 60px #00fff2, 0 0 70px #00fff2,
      0 0 90px #00fff2;
  }

  to {
    color: gray;
    text-shadow: 0 0 20px #00fff2, 0 0 30px #00fff2, 0 0 40px #00fff2,
      0 0 50px #00fff2, 0 0 60px #00fff2, 0 0 70px #00fff2, 0 0 80px #00fff2,
      0 1 90px #00fff2;
  }
}

.breathe {
  height: 4px;
  width: 4px;
  background-color: transparent;
  border-radius: 50%;

  box-shadow: 0 0px 10px #ffffff,
  0 0px 12px #ffffff,
  0 0px 15px #ffffff,
  0 0px 18px #ffffff,
  0 0px 20px #ffffff,
  0 0px 24px #ffffff;

  display:inline-block;
  font-size: 12px;
  animation: grow-shrink 4s ease-in-out 0ms infinite alternate;
}

@keyframes grow-shrink {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(4);
    box-shadow: none;
  }
}
