<section id="projects">
  <div class="content-title">
    <i class="fa fa-cubes"></i>
    Projects
  </div>
  <div class="container-fluid main-container">
    <div class="row" *ngFor="let phase of companies; let i=index;">
      <div class="col-md-8 col-lg-9 content-cell">
        <div class="container-fluid">
          <div class="row d-flex justify-content-center justify-content-md-start">
            <div class="col-sm-6 main-cnt mt-4" *ngFor="let project of phase.projects; let j=index;">
              <div class="img-cnt scale-one" (click)="showDetails(project)">
                <img [src]="'/assets/img/projects/'+project.img" [alt]="project.name" [ngClass]="project?.class">
              </div>
              <div class="text-center">{{project.name}}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-lg-3 title-cell d-flex align-items-center justify-content-center">
        {{phase.name}}
      </div>
    </div>
  </div>
</section>
