<mat-toolbar class="footer-container">


  <!--<div class="copyright">
    <small>
      <span>&copy; Copyright {{copyrightYear}},&nbsp;</span>
      <span class="tenx">10xDeveloper2020</span>
    </small>
  </div>
  <div class="margin-c">
    /* <i class="fa fa-cog fa-spin fa-3x fa-fw" style="font-size: inherit;"></i> 
    <i class="fa fa-cog rotateEl" style="font-size: inherit;"></i>
    &nbsp;<code>website under construction</code>&nbsp;
    <i class="fa fa-code"></i>
  </div>
  <div class="social-media-ico">
    <a href="mailto:10xdeveloper2020@gmail.com" class="fa fa-envelope"></a>
    <a href="https://www.linkedin.com/in/aleharish" target="blank" class="fa fa-linkedin"></a>
    <a href="https://www.facebook.com/aleharishhp" target="blank" class="fa fa-facebook"></a>
    <a href="https://www.instagram.com/aleharish" target="blank" class="fa fa-instagram"></a>
    <a href="https://twitter.com/aleharishhp" target="blank" class="fa fa-twitter"></a>
    <a href="https://www.youtube.com/channel/UCbPld3x1imRQs16WXVo5_Tw" target="blank" class="fa fa-youtube"></a>
  </div>
</mat-toolbar>-->

<div class="row" style="width: 100%;">
  <div class="col col-md-2 copyright text-xs-center">
    <small>
      <span>&copy; Copyright {{copyrightYear}},&nbsp;</span>
      <span class="tenx">10xDeveloper2020</span>
    </small>  
  </div>
  <div class="col col-md-7">
    <div class="quote-message"><span>{{quoteText.q}}</span></div>
    <div class="quote-author">- {{quoteText.a}}</div>
  </div>
  <div class="col col-md-3 social-media-ico">
    <a href="mailto:aleharishhp@gmail.com" class="fa fa-envelope"></a>
    <a href="https://www.linkedin.com/in/aleharish" target="blank" class="fa fa-linkedin"></a>
    <a href="https://www.facebook.com/aleharishhp" target="blank" class="fa fa-facebook"></a>
    <a href="https://www.instagram.com/aleharish" target="blank" class="fa fa-instagram"></a>
    <a href="https://twitter.com/aleharishhp" target="blank" class="fa fa-twitter"></a>
    <a href="https://www.youtube.com/channel/UCbPld3x1imRQs16WXVo5_Tw" target="blank" class="fa fa-youtube"></a>  
  </div>
</div>

